*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0s;
}

#root{
  height: 100vh;
}

body{
  height: 100vh;
  width: 100%;
  color: white;
  overflow-x: hidden;
  background: url("./assets/backdrop.jpeg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(2, 2, 31);
}

.content{
  max-width: 70vw;
  height: 100%;
  margin: auto;
}